*{
    box-sizing: border-box;
}

.body_class{
    background-color: #36382E;
    margin: 0;
}

#separador{
    padding: 25px;
}

/* El titulo del blog*/
.header{
    padding: 20px;
    text-align: center;
    color: #EDE6E3;
}

.header h1{
    font-size: 50px;
    font-weight: bold;
}

/* Navegador */
.topnav{
    margin: auto;
    background-color: #F06449;
    overflow: hidden;
}

.topnav a{
    font-size: 20px;
}

/* Columnas/Contenido de la pagina*/
.column{
    width: 70%;
    height: 300px;
    background-color: #DADAD9;
    margin: auto;
    margin-bottom: 20px;
    color: #36382E;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column h2{
    padding: 16px;
    text-align: center;
    color: #EDE6E3;
}
.column p{
    padding: 16px;
    text-align: left;
}
.header_column{
    height: 25%;
    background-color: #F06449;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px){
    .column{
        width: 90%;
        height: 300px;
    }
}

/* Pie de pagina */

.footer{
    background-color: #F06449;
    padding: 100px;
    text-align: center;
}